body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-image: url(../img/photo-1519681393784-d120267933ba.avif);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #446688;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #237dd8;
  color: rgb(10, 10, 10);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #032241;
}

#maxDepthResult {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: white;
}